*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(pexels-sk-814136.jpg);
    background-size: cover;
    justify-content: center;
}

header{
    background-color: rgba(0, 0, 0, 0.777);
    color: aliceblue;
    text-align: center;
    height: 300px;
    width: 100%;
}

.project {
    display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.77);
    color: white; 
    padding: 20px;
    margin: 10px;
    /* border: solid 1px white; */
}
.project button
{

    /* border-radius: 1rem; */
    background-color: rgba(0, 0, 0, 0.777);
    color: white; 
   
    width: max-content;
    border: solid 1px white;
    cursor: pointer;
   
}
.project button:hover
{
  border-radius: 2rem;
    background-color:#5dbea3;
    color: rgb(0, 0, 0); 
transition: all 0.5s ease-in-out;
    border: none;
   /* box-shadow: #5dbea3 5px 3px 10px 0px; */
}

.project a {
    /* border:solid 1px white; */
    color: white; 
    text-decoration: none;
}
/* body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
  } */
  footer {
    background-color:rgba(0, 0, 0, 0.777);
    color: #a7a7a7;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #c7940a;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
display: flex;
justify-content: center;
align-items: center;
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #27bcda;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  .about
    {
        
     
        margin-left: 5rem;
    }
  .links
  {
  
    margin-left: 16rem;
  }
  .subscribe
  {
    
    margin-left: 15rem;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }