*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(pexels-sk-814136.jpg);
    background-size: cover;
    justify-content: center;
}

header{
    background-color: rgba(0, 0, 0, 0.777);
    color: aliceblue;
    text-align: center;
    height: 300px;
    width: 100%;
}

.project {
    background-color: rgba(0, 0, 0, 0.7);
    color: white; 
    padding: 20px;
    margin: 10px;
}
.project a {
    color: white; 
    text-decoration: none;
}