*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body
{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #FF00FF, #00FFFF);
}
.outer
{
/* border: solid 2px white; */
 width: auto;
 height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 100px */
    
}
.inner-outer
{
    /* padding:0px; */
    width: 100%;
    max-width: 500px;
    padding: 30px;
height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;

  
}
li{
    list-style: none;
    margin: 15px 0;
}
.inner-outer h1
{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    /* color: #555; */
}
ul li 
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    
}
input
{
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    /* transition: all 0.3s ease;
     */
}

textarea
{
        font-family: 'Open Sans', sans-serif;
      
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.button
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  
  }
  
  button[type="submit"]:hover {
    border-radius:50px ;
    background-color: #4dff00c8;
    color: #333333;
    transition: all 0.5s ease-in-out;
    font-weight: 700;
  }

  .footer {
    color: #fff; 
    padding: 5px;
    height: 100%; 
    /* margin-top: 100px; */
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width:765px){
    .inner-outer
    {
        width: 70%;
    }
}

@media (max-width:328px){
    .inner-outer
    {
   margin-top: 5%;
    }
  h1{
    font-size: 20px;
  }
  .inner-outer h1
{
   margin-bottom: 3px;
}
}