/* styles.css */
/* Bootstrap styles and custom styles */

.Home-Page {
    background-image: url('https://media.giphy.com/media/xUA7b4arnbo3THfzi0/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .Home-Page h2, .Home-Page a{
    margin-left:25%;
  }

.navbar-brand {
    font-size: 24px;
    transition: color 0.3s;
    color: white;
  }
  
  .navbar-toggler-icon {
    color: white;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: rgb(189 255 5 / 81%);
  }
  
  .navbar-dark .navbar-nav .nav-link .hovering:hover {
    color: #ffca28;
  }
  
  .nav-underline {
    height: 2px;
    background-color: #ffca28;
    width: 100%;
    animation: grow 0.2s ease;
  }
  
  @keyframes grow {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @media (max-width:530px){
    body{
      margin: 0;
    }
    .Home-Page{
      width: 100%;
    }

  }
  